#d-logo {
  display: block;
  max-width: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

#header a {
  border: none;
}

#d-logo-link:hover {
  color: pink;

}

#d-links li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.d-image-link:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.d-image {
  display: block;
    width: 100%;
    height: auto;
}
