.bar {
	&.button {
		display: inline-block;
		color:  #fff;
		cursor: pointer;
		line-height: 3.3;
		height: 50px;
		width: 100%;
		transition: background-color 0.5s;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		border: 1px solid #2F363D;

		&:hover {
			background-color: #aaa;
			transition: background-color 0.5s;
		}

		&.current {
			background-color: #2F363D;
			color: #33CD56;
			
			&::before {
				content: '> '
			}
		}
	}
}